.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Stolzl Book', sans-serif;
    margin: 3rem;
}
.content {
    padding: 20px;
    width: 45%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    color: white;
    font-size: 2vw;
    margin: 1.5vh 0;
    width: 100%;

    &__title {
        text-align: right;
        font-family: 'Stolzl Book', sans-serif;
        white-space: nowrap;
    }
    &__value {
        text-align: left;
        font-family: 'Stolzl Regular', sans-serif;
        white-space: nowrap;
    }

    & p {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .content {
        width: 90%;
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-bottom: 20px;

        &__title {
            margin: 0;
            text-align: center;
        }
    }
}