.totalCost {
    margin: 0;
    font-family: 'Stolzl Regular', sans-serif;
}

.downloadButton {
    & span {
        font-family: 'Stolzl Regular', sans-serif;
        color: #005229;
    }
}

.markedRow {
    background-color: rgb(206, 254, 226);
}