.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-family: 'Stolzl Regular', sans-serif;
    color: white;
    padding: 1rem 3rem;

    &__title {
        text-align: right;
        margin: 0;
    }
}

.header_home {
    font-size: 2.5vw;
}

.header_page {
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    font-size: 2.8vw;
    width: 70%;
}