.totalCost {
    margin: 0;
    font-family: 'Stolzl Regular', sans-serif;
    font-size: 16px;
}

.downloadButton {
    & span {
        font-family: 'Stolzl Regular', sans-serif;
        color: #005229;
    }
}

.markedRow {
    background-color: #cefee2;
}

.installmentTable {
    :global {
        .ant-table-title {
            padding: 6px 8px 4px 8px;
        }

        .ant-table-footer {
            padding-bottom: 4px;
        }

        .ant-table-cell {
            line-height: 1;
        }
    }
}

